@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$nav-background: rgb(0, 54, 0);
$nav-background-hover: rgb(0, 114, 0);
$nav-text-color: white;
$transition-speed: 0.5s;

body {
    @extend body;
    background: radial-gradient(circle, rgba(52,52,52,1) 0%, rgba(25,25,25,1) 100%);
    color: white;
}

footer {
    @extend .nav-style;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

main {
    @extend .container;
}

h1 {
    background-color: rgb(39, 39, 39);
    border: 1px solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    text-align: center;
}

h2 {
    padding: 1px;
    text-align: center;
}

section {
    @extend .container-style;
    margin-bottom: 1rem;
    padding: 1rem;
}

.nav-style {
    background-color: $nav-background;
    color: $nav-text-color;
}

.navbar-top {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .nav-style;
}

.nav-collapser {
    @extend .navbar-toggler;
    @extend .nav-style;
}

.collapse-button {
    @extend .nav-style;
    @extend .btn;
    @extend .nav-link;
}

.nav-list {
    @extend .nav-style;
    @extend .navbar-collapse;
    @extend .justify-content-center;
    @extend .m-0;
    @extend .list-unstyled;
}

.sublist-style {
    @extend .nav-style;
    @extend .list-unstyled;
    @extend .m-0;
}

.nav-item {
    @extend .nav-style;
    @extend .nav-link;
    width: 100%;
    text-align: center;
    border: 1px solid transparent;
}

.nav-item:hover, .nav-item:active, .nav-item:focus {
    background-color: $nav-background-hover;
    color: $nav-text-color;
    @extend .nav-link;
}

.collapse-button svg {
    transition: $transition-speed;
}

.collapse-button:hover svg {
    transform: rotate(90deg);
    transition: $transition-speed;
}

.details-button {
    @extend .nav-item;
}

.details-button svg {
    transition: $transition-speed;
    transform: rotate(180deg);
}

.details-button.collapsed svg {
    transition: $transition-speed;
    transform: rotate(0deg);
}

.container-style {
    background-color: rgb(39, 39, 39);
    border: 1px solid gray;
}

.details-container {
    @extend .row;
    @extend .justify-content-center;
}

.grid-md-2 {
    @extend .col-12;
    @extend .col-md-6;
}

.details-card {
    @extend .grid-md-2;
    @extend .container-style;
    padding: 0;
    margin: 0.5rem;
    max-width: 40rem;
    height: fit-content;
}

.details-card div {
    padding: 0rem 1rem 0rem 1rem;
}
