extends layout

block layout-content
  div.row
    div#posts-section
      h1= header
      include includes/post_section.pug

    div#metadata-section
      br
      if isAuthenticated
        a.btn.btn-primary(href="/posts/new") Create a new post
        hr
      h4 Categories
      ul
        each category in categories
          li
            a(href="/posts/category/" + category.name,
            target="_blank", rel="noopener noreferrer")= category.decoded
      h4 Authors
      ul
        each user in users 
          li
            a(href="/posts/user/" + user.id, target="_blank", rel="noopener noreferrer")= user.name
