extends layout

block layout-content
  h1 Create a new post
  form(action="new", method="post")
    input#title(type="text", name="title")
    input#abstract(type="text", name="abstract")
    input#text(type="text", name="text")
    input#image(type="text", name="image")
    input(type="submit", value="Submit")

