@import '../node_modules/bootstrap/scss/bootstrap.scss';

main {
    @extend .container;
}

a:link {
    text-decoration: none;
}

.top-bar {
    @extend .navbar;
    @extend .navbar-expand-lg;
    @extend .navbar-dark;
    @extend .bg-dark;
}

.banner {
    @extend .bg-secondary;
    @extend .p-4;
    @extend .text-center;
    @extend .text-white;
}

#links {
    @extend .navbar-collapse;
    @extend .flex-row-reverse;
}

.bottom-bar {
    @extend .bg-dark;
    @extend .text-white;
}

.org-name {
    @extend .navbar-brand;
}

.navlist {
    @extend .navbar-nav;
    @extend .me-auto;
    @extend .mb-2;
    @extend .mb-lg-0;
}

#posts-section {
    @extend .col-lg-10;
}

#metadata-section {
    @extend .col-lg-2;
    position: sticky;
    top: 0;
    height: fit-content;
}

.post {
    margin: 1rem;
}

.post-date {
    color: gray;
}

.post-info {
    @extend .row;
    margin: 0;
    border: 1px solid gray;
    padding: 1rem;
}

.post-image {
    max-width: 15rem;
    max-height: 15rem;
}

.comment {
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.category {
    @extend .card;
    @extend .col;
    padding: 1rem;
    margin: 0.5rem;
}

.admin-post {
    @extend .comment;    
}
