<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="B72905_TicTacToeBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://163.178.104.144:80/~eb72905/TicTacToe/"
                binding="basicHttpBinding" bindingConfiguration="B72905_TicTacToeBinding"
                contract="B72905.B72905_TicTacToePort" name="B72905_TicTacToePort" />
        </client>
    </system.serviceModel>
</configuration>