header
  nav.top-bar
    div.container-fluid
      span.org-name B72905
      button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#links", aria-controls="links", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div.collapse#links
        ul.navbar-nav
          li.nav-item.user-dropdown
            a.nav-link.dropdown-toggle#users-dropdown(role="button",
            data-bs-toggle="dropdown", aria-expanded="false") Access
            ul.dropdown-menu(aria-labelledby="users-dropdown")
              if isAuthenticated
                li 
                  a.dropdown-item(href="/posts") Posts
                li
                  a.dropdown-item(href="/user") Me
                hr.dropdown-divider
                li
                  a.dropdown-item(href="/logout") Logout
              else
                li
                  a.dropdown-item(href="/login") Log in
          if isAdmin 
            li.nav-item.admin-dropdown
              a.nav-link.dropdown-toggle#admin-dropdown(role="button",
              data-bs-toggle="dropdown", aria-expanded="false") Administration
              ul.dropdown-menu(aria-labelledby="admin-dropdown")
                li 
                  a.dropdown-item(href="/admin/posts") Posts
                li
                  a.dropdown-item(href="/admin/categories") Categories
                li
                  a.dropdown-item(href="/admin/users") Users
  h2.banner Cloud Journal
    
  
