nav(aria-label="Posts navigation")
  ul.pagination
    each page in pages
      if page === active
        li.page-item.active
          a.page-button= page
      else
        li.page-item
          a.page-button= page
